.edit-page {
  padding: 20px 60px;
  min-width: 850px;

  .page-content {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;

    .div-box {
      margin-left: 5px;
      margin-right: 5px;

      .one-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn-wrap {
          display: flex;
          flex-direction: row;
          input {
            max-width: 110px;
          }
        }
      }
    }

    .img-avatar {
      width: 40%;
      display: block;
      margin: 20px auto;
    }

    .change-img-button {
      display: block;
      margin: 0px auto;
    }

    .edit-form {
      padding: 20px;

      .submit-button-container {
        margin-top: 15px;
        justify-content: center;

        .submit-button {
          width: 100%;
        }

        .delete-button {
          width: 100%;
        }
      }

      .input-style {
        width: 100%;
      }

      .mat-error {
        font-size: 12px;
      }
    }
  }
}

.inp {
  margin-bottom: 25px;
}

.lbl {
  margin-right: 5px;
  white-space: nowrap;
  line-height: 35px;
  text-align: center;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

button.disabled {
  opacity: 0.3;
  pointer-events: none;
}
