<div class="list-group users-list">
  <div
    *ngFor="let item of items"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="row">
      <div class="col col-md-4 image-col">
        <img class="image" [src]="item.payload.doc.data().imageUrl" />
      </div>
      <div class="col col-md-6 text-col">
        <div>
          <label>Seiral:</label>
          <h5> : {{ item.payload.doc.data().number }}</h5>
        </div>
        <div>
          <label>Date</label>
          <h5> : {{ item.payload.doc.data().date }}</h5>
        </div>
        <div>
          <label>Type</label>
          <h5> : {{ item.payload.doc.data().type }}</h5>
        </div>
        <div>
          <label>Title</label>
          <h5> : {{ item.payload.doc.data().name }}</h5>
        </div>
        <div>
          <label>Details</label>
          <h5> : {{ item.payload.doc.data().details }}</h5>
        </div>
        <div>
          <label>ID</label>
          <h5> : {{ item.payload.doc.data().id }}</h5>
        </div>
        <small>URL: {{ item.payload.doc.data().url }}</small>
      </div>
      <div class="col col-md-2 actions-col">
        <button
          class="btn btn-outline-primary action"
          (click)="viewDetails(item)"
          type="button"
        >
          <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
