<div class="side-bar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="home">
        <ion-icon name="list"></ion-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="add-item">
        <ion-icon name="add"></ion-icon>
      </a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="login">
        <ion-icon name="log-out"></ion-icon>
      </a>
    </li>
  </ul>
</div>
